@using ADAA.Resources
@{
    ViewBag.Title = Service.Title;
}

<div class="mt-3 mt-md-4 mt-lg-5">
    <h2 class="text-center font-weight-bold">@ViewBag.Title</h2>

    <p>@Service.Paragraph1</p>
    <ol>
        <li>
            @Service.OrderedList1
        </li>
        <li>
            @Service.OrderedList2
        </li>
        <li>
            @Service.OrderedList3
        </li>
        <li>
            @Service.OrderedList4
        </li>
        <li>
            @Service.OrderedList5
        </li>
        <li>
            @Service.OrderedList6
        </li>
        <li>
            @Service.OrderedList7
        </li>
        <li>
            @Service.OrderedList8 
            <a href="tel:+37460621328">+(37460) 62 13 28</a>, 
            <a href="tel:+37460621329">+(37460) 62 13 29</a>.
        </li>
        <li>
            @Service.OrderedList9
            <ul>
                <li>@Service.UnorderedList1</li>
                <li>@Service.UnorderedList2</li>
                <li>@Service.UnorderedList3</li>
                <li>@Service.UnorderedList4</li>
                <li>@Service.UnorderedList5</li>
            </ul>
        </li>
        <li>
            @Service.OrderedList10 
            <a href="www.alzheimer.ysmu.am">www.alzheimer.ysmu.am</a>
        </li>
        <li>
            @Service.OrderedList11
        </li>
    </ol>
</div>