
@{
    ViewBag.Title = ADAA.Resources.Membership.Title;
}

<div class="mt-3 mt-md-4 mt-lg-5">
    <h2 class="text-center font-weight-bold mb-3">@ADAA.Resources.Membership.Title</h2>
    <p>@ADAA.Resources.Membership.Paragraph1</p>
    <h4 class="text-center font-weight-bold">@ADAA.Resources.Membership.Paragraph2</h4>
    <ul class="list-unstyled">
        <li>
            <div class="memebership-Title mt-4 mb-3 font-weight-bold">@ADAA.Resources.Membership.Membership1Title</div>
            <p>
                @ADAA.Resources.Membership.Membership1Description
            </p>
            <p><strong>@ADAA.Resources.Membership.Membership1Advantages</strong></p>
            <ul>
                <li>@ADAA.Resources.Membership.Membership1Adventage1</li>
                <li>@ADAA.Resources.Membership.Membership1Adventage2</li>
                <li>@ADAA.Resources.Membership.Membership1Adventage3</li>
                <li>@ADAA.Resources.Membership.Membership1Adventage4</li>
                <li>@ADAA.Resources.Membership.Membership1Adventage5</li>
            </ul>
            <p class="mt-2 mb-2">@ADAA.Resources.Membership.Membership1Fee</p>
            <hr />
        </li>
        <li>
            <div class="memebership-Title mt-4 mb-3 font-weight-bold">@ADAA.Resources.Membership.Membership2Title</div>
            <p><strong>@ADAA.Resources.Membership.Membership2Advantages</strong></p>
            <ul>
                <li>@ADAA.Resources.Membership.Membership2Adventage1</li>
                <li>@ADAA.Resources.Membership.Membership2Adventage2</li>
                <li>@ADAA.Resources.Membership.Membership2Adventage3</li>
                <li>@ADAA.Resources.Membership.Membership2Adventage4</li>
            </ul>
            <p class="mt-2 mb-2">@ADAA.Resources.Membership.Membership2Fee</p>
            <hr />
        </li>
        <li>
            <div class="memebership-Title mt-4 mb-3 font-weight-bold">@ADAA.Resources.Membership.Membership3Title</div>
            <p>
                @ADAA.Resources.Membership.Membership3Description
            </p>
            <p><strong>@ADAA.Resources.Membership.Membership3Advantages</strong></p>
            <ul>
                <li>@ADAA.Resources.Membership.Membership3Adventage1</li>
                <li>@ADAA.Resources.Membership.Membership3Adventage2</li>
                <li>@ADAA.Resources.Membership.Membership3Adventage3</li>
                <li>@ADAA.Resources.Membership.Membership3Adventage4</li>
                <li>@ADAA.Resources.Membership.Membership3Adventage5</li>
            </ul>
            <p class="mt-2 mb-2">@ADAA.Resources.Membership.Membership3Fee</p>
            <hr />
        </li>
        <li>
            <div class="memebership-Title mt-4 mb-3 font-weight-bold">@ADAA.Resources.Membership.Membership4Title</div>
            <p>
                @ADAA.Resources.Membership.Membership4Description
            </p>
            <p class="mt-2 mb-2">@ADAA.Resources.Membership.Membership4Fee</p>
        </li>
    </ul>
</div>