@using ADAA.Resources
@{
    ViewBag.Title = Home.Title;
}

<header class="masthead">
    <div class="overlay">
        <div class="container">
            <h1 class="display-1 text-white">@Home.SloganBig</h1>
            <h2 class="display-4 text-white">@Home.SloganSmall</h2>
        </div>
    </div>
</header>

<div class="mt-4 mb-3 font-weight-bold">
    <p>@Home.MissionListHead</p>
    <ul>
        <li>@Home.MissionListItem1</li>
        <li>@Home.MissionListItem2</li>
        <li>@Home.MissionListItem3</li>
    </ul>
</div>

<div class="mt-4 mb-3">
    <p class="font-weight-bold">@Home.Paragraph1</p>
    <p>
        @Home.Paragraph2
    </p>
    <ul>
        <li>@Home.AlzheimerListItem1</li>
        <li>@Home.AlzheimerListItem2</li>
        <li>@Home.AlzheimerListItem3</li>
        <li>@Home.AlzheimerListItem4</li>
    </ul>
    <p>
        @Home.Paragraph3
    </p>
    <p>
        @Home.Paragraph4
    </p>
    <p>
        @Home.Paragraph5
    </p>
    <p>
        @Home.Paragraph6
    </p>
    <p>
        @Home.Paragraph7
    </p>
</div>