@model ADAA.Models.ContactViewModel
@using ADAA.Resources
@{
    ViewBag.Title = Contact.Title;
}

@using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "container" }))
{
    <div class="row justify-content-md-center justify-content-lg-center">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h2 class="mt-4 mb-3 font-weight-bold">@ViewBag.Title</h2>
                <h4><strong>@Contact.Header</strong></h4>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Country, new { @for = "country" })
                    @Html.TextBoxFor(m => m.Country, new { @id = "country", @class = "form-control", @placeholder = Contact.CountryPlaceholder })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-denger" } )
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @for = "city" })
                    @Html.TextBoxFor(m => m.City, new { @id = "city", @class = "form-control", @placeholder = Contact.CityPlaceholder })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-denger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @for = "name" })
                    @Html.TextBoxFor(m => m.Name, new { @id = "name", @class = "form-control", @placeholder = Contact.NamePlaceholder })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-denger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @for = "email" })
                    @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "form-control", @placeholder = "armen.avagyan@gmail.com" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-denger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @for = "phone" })
                    @Html.TextBoxFor(m => m.Phone, htmlAttributes: new { @id = "phone", @class = "form-control", @placeholder = "055555555" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Message, new { @for = "message" })
                    @Html.TextAreaFor(m => m.Message, new { @id = "email", @class = "form-control", @placeholder = Contact.MessagePlaceholder })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-denger" })
                </div>
                <input class="btn btn-primary" type="submit" value="@Contact.SubmitValue" />
                <div id="result" name="result" class="mt-4 mb-4">
                    @Html.Raw(@ViewBag.Result)
                </div>
        </div>
    </div>
}
